***Import Libraries***

In [2]:
import pandas as pd
import os
import re

In [3]:
#Define the file path
path = r'C:\Users\lisac\Downloads\Tulsa Property Auction Analysis\02 Data\Prepared Data'
file_name = 'Tulsa_County_Book_of_Sale_2024_V2.csv'

In [4]:
#Load CSV (skip first 6 rows to remove metadata)
df = pd.read_csv(os.path.join(path, file_name), skiprows=6, header=None)

In [5]:
print(df.head(10))
print(df.shape)  # To check the number of columns

                   0                                               1  \
0                NaN                                             NaN
1      PARCEL NUMBER                             : 00500-92-02-34510
2          DATE SOLD                                      : 06/10/24
3                NaN              RESALE CERTIFICATE NUMBER: 2100027
4  LEGAL DESCRIPTION  : ALL THAT PRT LT 1 LYING N OF FIRST ST ADJ TO
5                NaN                                FRISCO RR BLK 95
6                NaN                                             NaN
7                NaN                                             NaN
8                NaN                                             NaN
9        SUBDIVISION                           : TULSA-ORIGINAL TOWN

                       2                             3         4
0                    NaN                           NaN       NaN
1         BIDDER NUMBER:                           311       NaN
2             DEED NAME:                           NaN       NaN
3                    NaN            PAUL WADE WILLIAMS       NaN
4                    NaN                           NaN       NaN
5                    NaN                           NaN       NaN
6                    NaN                           NaN       NaN
7                    NaN  TRUST DEPOSIT NUMBER: 240117       NaN
8             BID AMOUNT                             :  5,500.00
9  TRUST DEPOSIT TOTAL :                           NaN  5,796.75
(3997, 5)

In [6]:
# Initialize storage for structured data
cleaned_data = []

In [7]:
# Temporary storage for a single auction record
current_record = {}

In [8]:
# Define a function to extract key-value pairs
def extract_field(text, key):
    """ Extracts the value after a given key (formatted as 'KEY: VALUE') """
    match = re.search(rf"{key}\s*:\s*(.*)", text)
    return match.group(1).strip() if match else None

In [9]:
# Process the dataframe row by row
for row in df.itertuples(index=False):
    for cell in row:
        if isinstance(cell, str):  # Ensure it's a string before processing
            # Extract relevant fields
            if "PARCEL NUMBER" in cell:
                if current_record:  # Save the previous record before starting a new one
                    cleaned_data.append(current_record)
                current_record = {"Parcel Number": extract_field(cell, "PARCEL NUMBER")}
            elif "BIDDER NUMBER" in cell:
                current_record["Bidder Number"] = extract_field(cell, "BIDDER NUMBER")
            elif "DATE SOLD" in cell:
                current_record["Date Sold"] = extract_field(cell, "DATE SOLD")
            elif "DEED NAME" in cell:
                current_record["Deed Name"] = extract_field(cell, "DEED NAME")
            elif "RESALE CERTIFICATE NUMBER" in cell:
                current_record["Resale Certificate Number"] = extract_field(cell, "RESALE CERTIFICATE NUMBER")
            elif "LEGAL DESCRIPTION" in cell:
                current_record["Legal Description"] = extract_field(cell, "LEGAL DESCRIPTION")
            elif "SUBDIVISION" in cell:
                current_record["Subdivision"] = extract_field(cell, "SUBDIVISION")
            elif "TAXING UNIT" in cell:
                current_record["Taxing Unit"] = extract_field(cell, "TAXING UNIT")
            elif "BID AMOUNT" in cell:
                current_record["Bid Amount"] = extract_field(cell, "BID AMOUNT")
            elif "TRUST DEPOSIT TOTAL" in cell:
                current_record["Trust Deposit Total"] = extract_field(cell, "TRUST DEPOSIT TOTAL")
            elif "NET SURPLUS AMOUNT" in cell:
                current_record["Net Surplus Amount"] = extract_field(cell, "NET SURPLUS AMOUNT")
            elif "TRUST DEPOSIT NUMBER" in cell:
                current_record["Trust Deposit Number"] = extract_field(cell, "TRUST DEPOSIT NUMBER")
            elif "ADDITIONAL LEGAL" in cell:
                current_record["Additional Legal"] = extract_field(cell, "ADDITIONAL LEGAL")
            elif "NOTATION 1" in cell:
                current_record["Notation 1"] = extract_field(cell, "NOTATION 1")
            elif "NOTATION 2" in cell:
                current_record["Notation 2"] = extract_field(cell, "NOTATION 2")
# Append the last record
if current_record:
    cleaned_data.append(current_record)

In [10]:
# Convert to DataFrame
clean_df = pd.DataFrame(cleaned_data)

In [11]:
# Convert all columns to string type before filling NaN values
clean_df = clean_df.astype(str).fillna("")

In [12]:
# Save to Excel
output_file = "Cleaned_Tulsa_Auction_Data.xlsx"
clean_df.to_excel(output_file, index=False)

In [13]:
print(f"âœ… Data successfully cleaned and saved as {output_file}")

âœ… Data successfully cleaned and saved as Cleaned_Tulsa_Auction_Data.xlsx

In [14]:
#locating file 
os.getcwd()

'C:\\Users\\lisac'

In [15]:
# Load the cleaned data
file_path = "C:/Users/lisac/Cleaned_Tulsa_Auction_Data.xlsx"  # Adjust if moved
df = pd.read_excel(file_path)

In [16]:
# Display general info
print("ðŸ”¹ Dataset Overview:")
df.info()

ðŸ”¹ Dataset Overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342 entries, 0 to 341
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Parcel Number              0 non-null      float64
 1   Bidder Number              0 non-null      float64
 2   Date Sold                  0 non-null      float64
 3   Deed Name                  0 non-null      float64
 4   Resale Certificate Number  228 non-null    float64
 5   Legal Description          0 non-null      float64
 6   Trust Deposit Number       188 non-null    float64
 7   Bid Amount                 0 non-null      float64
 8   Subdivision                0 non-null      float64
 9   Trust Deposit Total        0 non-null      float64
 10  Net Surplus Amount         0 non-null      float64
 11  Taxing Unit                228 non-null    object
 12  Additional Legal           0 non-null      float64
 13  Notation 1                 45 non-null     object
 14  Notation 2                 45 non-null     object
dtypes: float64(12), object(3)
memory usage: 40.2+ KB

In [17]:
# Display summary statistics for numeric columns
print("\nðŸ”¹ Summary Statistics:")
print(df.describe())

ðŸ”¹ Summary Statistics:
       Parcel Number  Bidder Number  Date Sold  Deed Name  \
count            0.0            0.0        0.0        0.0
mean             NaN            NaN        NaN        NaN
std              NaN            NaN        NaN        NaN
min              NaN            NaN        NaN        NaN
25%              NaN            NaN        NaN        NaN
50%              NaN            NaN        NaN        NaN
75%              NaN            NaN        NaN        NaN
max              NaN            NaN        NaN        NaN

       Resale Certificate Number  Legal Description  Trust Deposit Number  \
count               2.280000e+02                0.0            188.000000
mean                2.103092e+06                NaN         240134.521277
std                 3.808398e+04                NaN             55.986005
min                 1.707545e+06                NaN         240009.000000
25%                 2.103004e+06                NaN         240089.500000
50%                 2.106342e+06                NaN         240140.500000
75%                 2.108232e+06                NaN         240180.000000
max                 2.211454e+06                NaN         240217.000000

       Bid Amount  Subdivision  Trust Deposit Total  Net Surplus Amount  \
count         0.0          0.0                  0.0                 0.0
mean          NaN          NaN                  NaN                 NaN
std           NaN          NaN                  NaN                 NaN
min           NaN          NaN                  NaN                 NaN
25%           NaN          NaN                  NaN                 NaN
50%           NaN          NaN                  NaN                 NaN
75%           NaN          NaN                  NaN                 NaN
max           NaN          NaN                  NaN                 NaN

       Additional Legal
count               0.0
mean                NaN
std                 NaN
min                 NaN
25%                 NaN
50%                 NaN
75%                 NaN
max                 NaN

In [18]:
# Show first 5 rows
df.head()

,Parcel Number,Bidder Number,Date Sold,Deed Name,Resale Certificate Number,Legal Description,Trust Deposit Number,Bid Amount,Subdivision,Trust Deposit Total,Net Surplus Amount,Taxing Unit,Additional Legal,Notation 1,Notation 2
0,NaN,NaN,NaN,NaN,2100027.0,NaN,240117.0,NaN,NaN,NaN,NaN,T1A,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,2100145.0,NaN,240118.0,NaN,NaN,NaN,NaN,T1A,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2100186.0,NaN,240057.0,NaN,NaN,NaN,NaN,MCTUL,NaN,REMOVED FROM RESALE,PAID BY OWNER AFTER TRUST DEPOSIT
4,NaN,NaN,NaN,NaN,2100282.0,NaN,240119.0,NaN,NaN,NaN,NaN,T1A,NaN,NaN,NaN

In [19]:
# Load the file with possible adjustments
file_path = "C:/Users/lisac/Cleaned_Tulsa_Auction_Data.xlsx"

In [20]:
df = pd.read_excel(file_path, dtype=str)  # Read everything as strings to preserve formatting

In [21]:
# Display the first 10 rows to inspect structure
df.head(10)

,Parcel Number,Bidder Number,Date Sold,Deed Name,Resale Certificate Number,Legal Description,Trust Deposit Number,Bid Amount,Subdivision,Trust Deposit Total,Net Surplus Amount,Taxing Unit,Additional Legal,Notation 1,Notation 2
0,NaN,NaN,NaN,NaN,2100027,NaN,240117,NaN,NaN,NaN,NaN,T1A,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,2100145,NaN,240118,NaN,NaN,NaN,NaN,T1A,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2100186,NaN,240057,NaN,NaN,NaN,NaN,MCTUL,NaN,REMOVED FROM RESALE,PAID BY OWNER AFTER TRUST DEPOSIT
4,NaN,NaN,NaN,NaN,2100282,NaN,240119,NaN,NaN,NaN,NaN,T1A,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,2100283,NaN,240119,NaN,NaN,NaN,NaN,T1A,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,2100303,NaN,240049,NaN,NaN,NaN,NaN,T1A,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,2100310,NaN,240049,NaN,NaN,NaN,NaN,T1A,NaN,NaN,NaN

In [22]:
# Load the file
file_path = "C:/Users/lisac/Cleaned_Tulsa_Auction_Data.xlsx"
df = pd.read_excel(file_path, header=None)  # Load without assuming the first row is headers

In [23]:
# Display first 20 rows to inspect raw structure
print(df.head(20))

               0              1          2          3   \
0   Parcel Number  Bidder Number  Date Sold  Deed Name
1             NaN            NaN        NaN        NaN
2             NaN            NaN        NaN        NaN
3             NaN            NaN        NaN        NaN
4             NaN            NaN        NaN        NaN
5             NaN            NaN        NaN        NaN
6             NaN            NaN        NaN        NaN
7             NaN            NaN        NaN        NaN
8             NaN            NaN        NaN        NaN
9             NaN            NaN        NaN        NaN
10            NaN            NaN        NaN        NaN
11            NaN            NaN        NaN        NaN
12            NaN            NaN        NaN        NaN
13            NaN            NaN        NaN        NaN
14            NaN            NaN        NaN        NaN
15            NaN            NaN        NaN        NaN
16            NaN            NaN        NaN        NaN
17            NaN            NaN        NaN        NaN
18            NaN            NaN        NaN        NaN
19            NaN            NaN        NaN        NaN

                           4                  5                     6   \
0   Resale Certificate Number  Legal Description  Trust Deposit Number
1                     2100027                NaN                240117
2                     2100145                NaN                240118
3                         NaN                NaN                   NaN
4                     2100186                NaN                240057
5                     2100282                NaN                240119
6                         NaN                NaN                   NaN
7                     2100283                NaN                240119
8                     2100303                NaN                240049
9                         NaN                NaN                   NaN
10                    2100310                NaN                240049
11                    2100379                NaN                240120
12                        NaN                NaN                   NaN
13                    2100438                NaN                240061
14                    2100644                NaN                240080
15                        NaN                NaN                   NaN
16                    2100772                NaN                240121
17                    2100801                NaN                240122
18                        NaN                NaN                   NaN
19                    2100824                NaN                240122

            7            8                    9                   10  \
0   Bid Amount  Subdivision  Trust Deposit Total  Net Surplus Amount
1          NaN          NaN                  NaN                 NaN
2          NaN          NaN                  NaN                 NaN
3          NaN          NaN                  NaN                 NaN
4          NaN          NaN                  NaN                 NaN
5          NaN          NaN                  NaN                 NaN
6          NaN          NaN                  NaN                 NaN
7          NaN          NaN                  NaN                 NaN
8          NaN          NaN                  NaN                 NaN
9          NaN          NaN                  NaN                 NaN
10         NaN          NaN                  NaN                 NaN
11         NaN          NaN                  NaN                 NaN
12         NaN          NaN                  NaN                 NaN
13         NaN          NaN                  NaN                 NaN
14         NaN          NaN                  NaN                 NaN
15         NaN          NaN                  NaN                 NaN
16         NaN          NaN                  NaN                 NaN
17         NaN          NaN                  NaN                 NaN
18         NaN          NaN                  NaN                 NaN
19         NaN          NaN                  NaN                 NaN

             11                12                   13  \
0   Taxing Unit  Additional Legal           Notation 1
1           T1A               NaN                  NaN
2           T1A               NaN                  NaN
3           NaN               NaN                  NaN
4         MCTUL               NaN  REMOVED FROM RESALE
5           T1A               NaN                  NaN
6           NaN               NaN                  NaN
7           T1A               NaN                  NaN
8           T1A               NaN                  NaN
9           NaN               NaN                  NaN
10          T1A               NaN                  NaN
11          T1A               NaN                  NaN
12          NaN               NaN                  NaN
13        MCTUL               NaN                  NaN
14        MCTUL               NaN                  NaN
15          NaN               NaN                  NaN
16        MCTUL               NaN                  NaN
17        MCTUL               NaN                  NaN
18          NaN               NaN                  NaN
19          T1A               NaN                  NaN

                                   14
0                          Notation 2
1                                 NaN
2                                 NaN
3                                 NaN
4   PAID BY OWNER AFTER TRUST DEPOSIT
5                                 NaN
6                                 NaN
7                                 NaN
8                                 NaN
9                                 NaN
10                                NaN
11                                NaN
12                                NaN
13                                NaN
14                                NaN
15                                NaN
16                                NaN
17                                NaN
18                                NaN
19                                NaN

In [24]:
# Load the data
file_path =(r'C:\Users\lisac\Downloads\Tulsa Property Auction Analysis\02 Data\Prepared Data\Tulsa_County_Book_of_Sale_2024_V2.csv')
df = pd.read_csv(file_path, header=None, skip_blank_lines=False)

In [26]:
# Display the first few rows to check the actual structure
print(df.head())

                                                   0                       1  \
0                                         TM2336-R01  TULSA COUNTY TREASURER
1  RUN DATE: 06/26/24 10:17:59  RETURN OF 2024 JU...                     NaN
2                      RESALE JOURNAL OF PROCEEDINGS                     NaN
3                                                NaN                     NaN
4  THIS PROGRAM WAS RUN FOR NO UPDATE-FOR REPORT ...                     NaN

      2    3    4
0  PAGE    1  NaN
1   NaN  NaN  NaN
2   NaN  NaN  NaN
3   NaN  NaN  NaN
4   NaN  NaN  NaN

In [25]:
# Identify the row where actual headers start
header_row = df[df.iloc[:, 0] == "Parcel Number"].index[0]

IndexError: index 0 is out of bounds for axis 0 with size 0

In [ ]:
# Extract headers and reset the dataframe
column_names = df.iloc[header_row].tolist()
df = df.iloc[header_row + 1:].reset_index(drop=True)
df.columns = column_names  # Assign proper column names

In [ ]:
# Drop empty columns if they exist
df = df.dropna(how='all', axis=1)

In [ ]:
# Drop any fully empty rows
df = df.dropna(how='all')

In [ ]:
# Convert numerical columns
num_cols = ["Bid Amount", "Trust Deposit Total", "Net Surplus Amount"]
for col in num_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [ ]:
# Save the cleaned file
df.to_csv("Cleaned_Tulsa_Auction_Data_Formatted.csv", index=False)
print("âœ… Data cleaned and saved as Cleaned_Tulsa_Auction_Data_Formatted.csv")